<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.generator.mapper.CstpMmTplDetailMapper" >
  <resultMap id="BaseResultMap" type="org.spring.springboot.generator.mapper.CstpMmTplDetail" >
    <id column="I_CODE" property="iCode" jdbcType="VARCHAR" />
    <id column="TPL_ID" property="tplId" jdbcType="DECIMAL" />
    <result column="I_NAME" property="iName" jdbcType="VARCHAR" />
    <result column="A_TYPE" property="aType" jdbcType="VARCHAR" />
    <result column="M_TYPE" property="mType" jdbcType="VARCHAR" />
    <result column="BASIC_QUOTATIONS" property="basicQuotations" jdbcType="DECIMAL" />
    <result column="DEFAULT_QUOTATION_BENCHMARK" property="defaultQuotationBenchmark" jdbcType="DECIMAL" />
    <result column="SETDAYS_BUY" property="setdaysBuy" jdbcType="DECIMAL" />
    <result column="DELIVERYTYPE_BUY" property="deliverytypeBuy" jdbcType="CHAR" />
    <result column="SETDAYS_SELL" property="setdaysSell" jdbcType="DECIMAL" />
    <result column="DELIVERYTYPE_SELL" property="deliverytypeSell" jdbcType="CHAR" />
    <result column="MAX_DISPALY_AMOUNT" property="maxDispalyAmount" jdbcType="DECIMAL" />
    <result column="DEAL_CHANGE_UNIT" property="dealChangeUnit" jdbcType="DECIMAL" />
    <result column="YTM_TYPE" property="ytmType" jdbcType="DECIMAL" />
    <result column="GROUPING" property="grouping" jdbcType="VARCHAR" />
    <result column="UNIT_ID" property="unitId" jdbcType="VARCHAR" />
    <result column="TRADER_ID" property="traderId" jdbcType="VARCHAR" />
    <result column="TPL_USER_ID" property="tplUserId" jdbcType="VARCHAR" />
    <result column="SECU_ACCID" property="secuAccid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    I_CODE, TPL_ID, I_NAME, A_TYPE, M_TYPE, BASIC_QUOTATIONS, DEFAULT_QUOTATION_BENCHMARK, 
    SETDAYS_BUY, DELIVERYTYPE_BUY, SETDAYS_SELL, DELIVERYTYPE_SELL, MAX_DISPALY_AMOUNT, 
    DEAL_CHANGE_UNIT, YTM_TYPE, GROUPING, UNIT_ID, TRADER_ID, TPL_USER_ID, SECU_ACCID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TTRD_XCC_CFETS_MM_TPL_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetailKey" >
    select 
    <include refid="Base_Column_List" />
    from TTRD_XCC_CFETS_MM_TPL_DETAIL
    where I_CODE = #{iCode,jdbcType=VARCHAR}
      and TPL_ID = #{tplId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetailKey" >
    delete from TTRD_XCC_CFETS_MM_TPL_DETAIL
    where I_CODE = #{iCode,jdbcType=VARCHAR}
      and TPL_ID = #{tplId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetailExample" >
    delete from TTRD_XCC_CFETS_MM_TPL_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetail" >
    insert into TTRD_XCC_CFETS_MM_TPL_DETAIL (I_CODE, TPL_ID, I_NAME, 
      A_TYPE, M_TYPE, BASIC_QUOTATIONS, 
      DEFAULT_QUOTATION_BENCHMARK, SETDAYS_BUY, 
      DELIVERYTYPE_BUY, SETDAYS_SELL, DELIVERYTYPE_SELL, 
      MAX_DISPALY_AMOUNT, DEAL_CHANGE_UNIT, YTM_TYPE, 
      GROUPING, UNIT_ID, TRADER_ID, 
      TPL_USER_ID, SECU_ACCID)
    values (#{iCode,jdbcType=VARCHAR}, #{tplId,jdbcType=DECIMAL}, #{iName,jdbcType=VARCHAR}, 
      #{aType,jdbcType=VARCHAR}, #{mType,jdbcType=VARCHAR}, #{basicQuotations,jdbcType=DECIMAL}, 
      #{defaultQuotationBenchmark,jdbcType=DECIMAL}, #{setdaysBuy,jdbcType=DECIMAL}, 
      #{deliverytypeBuy,jdbcType=CHAR}, #{setdaysSell,jdbcType=DECIMAL}, #{deliverytypeSell,jdbcType=CHAR}, 
      #{maxDispalyAmount,jdbcType=DECIMAL}, #{dealChangeUnit,jdbcType=DECIMAL}, #{ytmType,jdbcType=DECIMAL}, 
      #{grouping,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR}, #{traderId,jdbcType=VARCHAR}, 
      #{tplUserId,jdbcType=VARCHAR}, #{secuAccid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetail" >
    insert into TTRD_XCC_CFETS_MM_TPL_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iCode != null" >
        I_CODE,
      </if>
      <if test="tplId != null" >
        TPL_ID,
      </if>
      <if test="iName != null" >
        I_NAME,
      </if>
      <if test="aType != null" >
        A_TYPE,
      </if>
      <if test="mType != null" >
        M_TYPE,
      </if>
      <if test="basicQuotations != null" >
        BASIC_QUOTATIONS,
      </if>
      <if test="defaultQuotationBenchmark != null" >
        DEFAULT_QUOTATION_BENCHMARK,
      </if>
      <if test="setdaysBuy != null" >
        SETDAYS_BUY,
      </if>
      <if test="deliverytypeBuy != null" >
        DELIVERYTYPE_BUY,
      </if>
      <if test="setdaysSell != null" >
        SETDAYS_SELL,
      </if>
      <if test="deliverytypeSell != null" >
        DELIVERYTYPE_SELL,
      </if>
      <if test="maxDispalyAmount != null" >
        MAX_DISPALY_AMOUNT,
      </if>
      <if test="dealChangeUnit != null" >
        DEAL_CHANGE_UNIT,
      </if>
      <if test="ytmType != null" >
        YTM_TYPE,
      </if>
      <if test="grouping != null" >
        GROUPING,
      </if>
      <if test="unitId != null" >
        UNIT_ID,
      </if>
      <if test="traderId != null" >
        TRADER_ID,
      </if>
      <if test="tplUserId != null" >
        TPL_USER_ID,
      </if>
      <if test="secuAccid != null" >
        SECU_ACCID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iCode != null" >
        #{iCode,jdbcType=VARCHAR},
      </if>
      <if test="tplId != null" >
        #{tplId,jdbcType=DECIMAL},
      </if>
      <if test="iName != null" >
        #{iName,jdbcType=VARCHAR},
      </if>
      <if test="aType != null" >
        #{aType,jdbcType=VARCHAR},
      </if>
      <if test="mType != null" >
        #{mType,jdbcType=VARCHAR},
      </if>
      <if test="basicQuotations != null" >
        #{basicQuotations,jdbcType=DECIMAL},
      </if>
      <if test="defaultQuotationBenchmark != null" >
        #{defaultQuotationBenchmark,jdbcType=DECIMAL},
      </if>
      <if test="setdaysBuy != null" >
        #{setdaysBuy,jdbcType=DECIMAL},
      </if>
      <if test="deliverytypeBuy != null" >
        #{deliverytypeBuy,jdbcType=CHAR},
      </if>
      <if test="setdaysSell != null" >
        #{setdaysSell,jdbcType=DECIMAL},
      </if>
      <if test="deliverytypeSell != null" >
        #{deliverytypeSell,jdbcType=CHAR},
      </if>
      <if test="maxDispalyAmount != null" >
        #{maxDispalyAmount,jdbcType=DECIMAL},
      </if>
      <if test="dealChangeUnit != null" >
        #{dealChangeUnit,jdbcType=DECIMAL},
      </if>
      <if test="ytmType != null" >
        #{ytmType,jdbcType=DECIMAL},
      </if>
      <if test="grouping != null" >
        #{grouping,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="traderId != null" >
        #{traderId,jdbcType=VARCHAR},
      </if>
      <if test="tplUserId != null" >
        #{tplUserId,jdbcType=VARCHAR},
      </if>
      <if test="secuAccid != null" >
        #{secuAccid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetailExample" resultType="java.lang.Integer" >
    select count(*) from TTRD_XCC_CFETS_MM_TPL_DETAIL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TTRD_XCC_CFETS_MM_TPL_DETAIL
    <set >
      <if test="record.iCode != null" >
        I_CODE = #{record.iCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tplId != null" >
        TPL_ID = #{record.tplId,jdbcType=DECIMAL},
      </if>
      <if test="record.iName != null" >
        I_NAME = #{record.iName,jdbcType=VARCHAR},
      </if>
      <if test="record.aType != null" >
        A_TYPE = #{record.aType,jdbcType=VARCHAR},
      </if>
      <if test="record.mType != null" >
        M_TYPE = #{record.mType,jdbcType=VARCHAR},
      </if>
      <if test="record.basicQuotations != null" >
        BASIC_QUOTATIONS = #{record.basicQuotations,jdbcType=DECIMAL},
      </if>
      <if test="record.defaultQuotationBenchmark != null" >
        DEFAULT_QUOTATION_BENCHMARK = #{record.defaultQuotationBenchmark,jdbcType=DECIMAL},
      </if>
      <if test="record.setdaysBuy != null" >
        SETDAYS_BUY = #{record.setdaysBuy,jdbcType=DECIMAL},
      </if>
      <if test="record.deliverytypeBuy != null" >
        DELIVERYTYPE_BUY = #{record.deliverytypeBuy,jdbcType=CHAR},
      </if>
      <if test="record.setdaysSell != null" >
        SETDAYS_SELL = #{record.setdaysSell,jdbcType=DECIMAL},
      </if>
      <if test="record.deliverytypeSell != null" >
        DELIVERYTYPE_SELL = #{record.deliverytypeSell,jdbcType=CHAR},
      </if>
      <if test="record.maxDispalyAmount != null" >
        MAX_DISPALY_AMOUNT = #{record.maxDispalyAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.dealChangeUnit != null" >
        DEAL_CHANGE_UNIT = #{record.dealChangeUnit,jdbcType=DECIMAL},
      </if>
      <if test="record.ytmType != null" >
        YTM_TYPE = #{record.ytmType,jdbcType=DECIMAL},
      </if>
      <if test="record.grouping != null" >
        GROUPING = #{record.grouping,jdbcType=VARCHAR},
      </if>
      <if test="record.unitId != null" >
        UNIT_ID = #{record.unitId,jdbcType=VARCHAR},
      </if>
      <if test="record.traderId != null" >
        TRADER_ID = #{record.traderId,jdbcType=VARCHAR},
      </if>
      <if test="record.tplUserId != null" >
        TPL_USER_ID = #{record.tplUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.secuAccid != null" >
        SECU_ACCID = #{record.secuAccid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TTRD_XCC_CFETS_MM_TPL_DETAIL
    set I_CODE = #{record.iCode,jdbcType=VARCHAR},
      TPL_ID = #{record.tplId,jdbcType=DECIMAL},
      I_NAME = #{record.iName,jdbcType=VARCHAR},
      A_TYPE = #{record.aType,jdbcType=VARCHAR},
      M_TYPE = #{record.mType,jdbcType=VARCHAR},
      BASIC_QUOTATIONS = #{record.basicQuotations,jdbcType=DECIMAL},
      DEFAULT_QUOTATION_BENCHMARK = #{record.defaultQuotationBenchmark,jdbcType=DECIMAL},
      SETDAYS_BUY = #{record.setdaysBuy,jdbcType=DECIMAL},
      DELIVERYTYPE_BUY = #{record.deliverytypeBuy,jdbcType=CHAR},
      SETDAYS_SELL = #{record.setdaysSell,jdbcType=DECIMAL},
      DELIVERYTYPE_SELL = #{record.deliverytypeSell,jdbcType=CHAR},
      MAX_DISPALY_AMOUNT = #{record.maxDispalyAmount,jdbcType=DECIMAL},
      DEAL_CHANGE_UNIT = #{record.dealChangeUnit,jdbcType=DECIMAL},
      YTM_TYPE = #{record.ytmType,jdbcType=DECIMAL},
      GROUPING = #{record.grouping,jdbcType=VARCHAR},
      UNIT_ID = #{record.unitId,jdbcType=VARCHAR},
      TRADER_ID = #{record.traderId,jdbcType=VARCHAR},
      TPL_USER_ID = #{record.tplUserId,jdbcType=VARCHAR},
      SECU_ACCID = #{record.secuAccid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetail" >
    update TTRD_XCC_CFETS_MM_TPL_DETAIL
    <set >
      <if test="iName != null" >
        I_NAME = #{iName,jdbcType=VARCHAR},
      </if>
      <if test="aType != null" >
        A_TYPE = #{aType,jdbcType=VARCHAR},
      </if>
      <if test="mType != null" >
        M_TYPE = #{mType,jdbcType=VARCHAR},
      </if>
      <if test="basicQuotations != null" >
        BASIC_QUOTATIONS = #{basicQuotations,jdbcType=DECIMAL},
      </if>
      <if test="defaultQuotationBenchmark != null" >
        DEFAULT_QUOTATION_BENCHMARK = #{defaultQuotationBenchmark,jdbcType=DECIMAL},
      </if>
      <if test="setdaysBuy != null" >
        SETDAYS_BUY = #{setdaysBuy,jdbcType=DECIMAL},
      </if>
      <if test="deliverytypeBuy != null" >
        DELIVERYTYPE_BUY = #{deliverytypeBuy,jdbcType=CHAR},
      </if>
      <if test="setdaysSell != null" >
        SETDAYS_SELL = #{setdaysSell,jdbcType=DECIMAL},
      </if>
      <if test="deliverytypeSell != null" >
        DELIVERYTYPE_SELL = #{deliverytypeSell,jdbcType=CHAR},
      </if>
      <if test="maxDispalyAmount != null" >
        MAX_DISPALY_AMOUNT = #{maxDispalyAmount,jdbcType=DECIMAL},
      </if>
      <if test="dealChangeUnit != null" >
        DEAL_CHANGE_UNIT = #{dealChangeUnit,jdbcType=DECIMAL},
      </if>
      <if test="ytmType != null" >
        YTM_TYPE = #{ytmType,jdbcType=DECIMAL},
      </if>
      <if test="grouping != null" >
        GROUPING = #{grouping,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        UNIT_ID = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="traderId != null" >
        TRADER_ID = #{traderId,jdbcType=VARCHAR},
      </if>
      <if test="tplUserId != null" >
        TPL_USER_ID = #{tplUserId,jdbcType=VARCHAR},
      </if>
      <if test="secuAccid != null" >
        SECU_ACCID = #{secuAccid,jdbcType=VARCHAR},
      </if>
    </set>
    where I_CODE = #{iCode,jdbcType=VARCHAR}
      and TPL_ID = #{tplId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.spring.springboot.generator.mapper.CstpMmTplDetail" >
    update TTRD_XCC_CFETS_MM_TPL_DETAIL
    set I_NAME = #{iName,jdbcType=VARCHAR},
      A_TYPE = #{aType,jdbcType=VARCHAR},
      M_TYPE = #{mType,jdbcType=VARCHAR},
      BASIC_QUOTATIONS = #{basicQuotations,jdbcType=DECIMAL},
      DEFAULT_QUOTATION_BENCHMARK = #{defaultQuotationBenchmark,jdbcType=DECIMAL},
      SETDAYS_BUY = #{setdaysBuy,jdbcType=DECIMAL},
      DELIVERYTYPE_BUY = #{deliverytypeBuy,jdbcType=CHAR},
      SETDAYS_SELL = #{setdaysSell,jdbcType=DECIMAL},
      DELIVERYTYPE_SELL = #{deliverytypeSell,jdbcType=CHAR},
      MAX_DISPALY_AMOUNT = #{maxDispalyAmount,jdbcType=DECIMAL},
      DEAL_CHANGE_UNIT = #{dealChangeUnit,jdbcType=DECIMAL},
      YTM_TYPE = #{ytmType,jdbcType=DECIMAL},
      GROUPING = #{grouping,jdbcType=VARCHAR},
      UNIT_ID = #{unitId,jdbcType=VARCHAR},
      TRADER_ID = #{traderId,jdbcType=VARCHAR},
      TPL_USER_ID = #{tplUserId,jdbcType=VARCHAR},
      SECU_ACCID = #{secuAccid,jdbcType=VARCHAR}
    where I_CODE = #{iCode,jdbcType=VARCHAR}
      and TPL_ID = #{tplId,jdbcType=DECIMAL}
  </update>
</mapper>